<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>KevinTang.File-City.PrivilegedHelper</string>
	<key>MachServices</key>
	<dict>
		<key>KevinTang.File-City.PrivilegedHelper</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier KevinTang.File-City and anchor apple generic and certificate leaf[subject.CN] = Apple Development: Kevin Tang (K87G5Q3KRD)</string>
	</array>
</dict>
</plist>
